.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: 450px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.outer-container {
  display: flex;
  flex-direction: row;
  height: 450px;
}


.fighter-table {
  background: #f71111; 
  border-collapse: collapse;
  border-left: 3px solid #F79361;
  border-right: 3px solid #F79361;
  border-bottom: 3px solid #F79361;
  font-family: "Lucida Grande", sans-serif;
 }
.fighter-table caption {
  background: #F79361; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.fighter-table td, .fighter-table th {
  padding: 10px;
}
.fighter-table th {
  text-align: left;
  font-size: 18px;
}

